<launch>
<node pkg="tf" type="static_transform_publisher" name="static_tf_cam_publisher_left" args="-0.05 0 0 0 0 0 1 base_link_gt left_cam"/>
<node pkg="tf" type="static_transform_publisher" name="static_tf_cam_publisher_right" args = "0.05 0 0 0 0 0 1 base_link_gt right_cam"/>
<node pkg="ros_exercises" type = "base_link_tf_pub.py" name = "base_link_tf_pub"/>
</launch>